accelerate
av
beautifulsoup4
boto3
debugpy
depyf
diffusers
ffmpeg-python
ftfy
graphviz
imageio[ffmpeg]
loguru
mosaicml_streaming
packaging>=24.2
pandas
psycopg2-binary
pydantic
pydantic-settings
redis
redislite
rich
sentencepiece
setuptools>=78.1.1
timm
torchao
transformers
unfoldNd
versioningit
openai-whisper
